<mat-sidenav-container class="silk-container">
    <mat-sidenav mode="side" opened>
        <div class="sidebar-container">
            <div class="logo-container p-2">
                <i class="fa-brands fa-dashcube mr-3 fa-2x align-self-center"></i>
                <span class="poppins-semibold p-3">RICK</span>
            </div>
            <div class="user-info-container">
                <div class="user-thumbnail d-flex">
                    <img class="img-responsive img-circle align-self-center" 
                    alt="user list image" src="/assets/img/rick.jpg">
                    <div class="align-self-center px-3">
                        <span class="user-name"><strong>Rick Huff</strong></span>
                        <div class="mb-0">
                            <small>
                                <i class="fa fa-circle text-success"></i>
                                Online
                            </small>
                        </div>
                    </div>
                </div>
                <div class="sidebar-search">
                    <form action="#" method="get" novalidate="">
                        <div class="input-group">
                            <input class="form-control" name="q" placeholder="Search.." type="text">
                            <button id="search-btn" class="btn btn-flat" name="search" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content opened>Content</mat-sidenav-content>
</mat-sidenav-container>