.sidebar-container {
    height: 100%;
    position: relative;
}

.silk-container {
    height: 100%;
}

.logo-container {
    background-color: #2274a5;
    color: white;
    width: 240px;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 2.8px;
}

.user-info-container {
    background-color: #2c3b41;
    color: white;
}

.img-circle {
    border-radius: 50%;
}

.user-thumbnail {
    padding: 0.9375rem 1rem;
}

.user-thumbnail img {
    width: 45px;
    height: 45px;
    height: auto;
    max-width: 100%;
}
