@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

.sidebar-container {
    height: 100%;
    position: relative;
    width: 15rem;
}

.silk-container {
    height: 100%;
}

.logo-container {
    background-color: #2274a5;
    color: white;
    width: 15rem;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 2.8px;
}

.user-info-container {
    background-color: #2c3b41;
    color: white;
    padding-bottom: 1.2rem;
}

.img-circle {
    border-radius: 50%;
}

.user-thumbnail {
    padding: 0.9375rem 1rem;
}

.user-thumbnail img {
    width: 45px;
    height: 45px;
    height: auto;
    max-width: 100%;
}

.sidebar-search {
    padding: 0 1rem;
}

.input-group .btn {
    color: $gray-600;
    background-color: $gray-700;
}

.form-control {
    background-color: $gray-700;
    border-width: 0;
}

::placeholder {
    color: $gray-600;
}